* {
    margin: 0;
    padding: 0;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    background: rgb(225, 255, 143);
    background-image: url(img/Group-1.svg), url(img/Star-2.svg), url(img/Star-3.svg), url(img/Star-4.svg), url(img/Star-5.svg);
    background-position: 854px -333px, 63px 94px, 156px 69px, 1013px 568px, 948px 538px;
    background-repeat: no-repeat;
    padding-top: 196px;
    padding-bottom: 246px;
}

.header__h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    margin-bottom: 24px;
    font-family: Montserrat;
}

.header__p {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    font-family: Montserrat;
}

.header__btn {
    font-family: Montserrat;
    box-sizing: border-box;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background: rgb(32, 32, 39);
    width: 247px;
    height: 66px;
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin-top: 48px;
}

.header__btn:hover {
    background: white;
    color: black;
}

.top {
    background-color: rgb(32, 32, 39);
    padding-top: 94px;
    padding-bottom: 144px;
    background-image: url(img/Star-1.svg), url(img/Star-11.svg), url(img/Star-12.svg), url(img/Star-7.svg), url(img/Star-6.svg), url(img/Star-8.svg), url(img/Star-10.svg);
    background-position: 1054px 77px, 58px 810px, 75px 862px, 1300px 1613px, 1370px 1646px, 1370px 4886px, 1300px 4936px;
    background-repeat: no-repeat;
}

.cart__content {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    box-sizing: border-box;
}

.cart {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.top__h1 {
    color: white;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    padding-bottom: 24px;
    font-family: Montserrat;
}

.top__p {
    color: white;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    font-family: Montserrat;
}

.top-cart {
    color: white;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    padding-bottom: 24px;
    font-family: Montserrat;
    padding-bottom: 72px;
    padding-top: 46px;
}

.game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 450px 25px 500px;
    gap: 32px;
    margin-top: 72px;
    margin-bottom: 50px;
}

.game-mini {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 30px;
    transition: transform 1s;
}

.game-mini:hover {
    transform: scale(1.1);
}

.game-mini__1 {
    grid-row: 1/2;
    grid-column: 1/2;
}

.game-mini__2 {
    grid-row: 1/3;
    grid-column: 2/3;
}

.game-mini__3 {
    grid-row: 1/2;
    grid-column: 3/4;
}

.game-mini__4 {
    grid-row: 2/4;
    grid-column: 1/2;
}

.game-mini__5 {
    grid-row: 3/4;
    grid-column: 2/3;
}

.game-mini__6 {
    grid-row: 2/4;
    grid-column: 3/4;
}

.game-mini__img {
    width: 378px;
}

.game-mini__name {
    color: rgb(32, 32, 39);
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 36px;
    padding-top: 16px;
    font-family: Montserrat;
}

.game-mini__name1 {
    color: rgb(32, 32, 39);
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 36px;
    padding-top: 16px;
    font-family: Montserrat;
}

.game-mini__namebr {
    display: none;
}

.game-mini__num {
    color: rgb(32, 32, 39);
    font-size: 16px;
    font-weight: 500;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 32px;
    padding-left: 16px;
    font-family: Montserrat;
    border-radius: 52.58px;
    background: rgb(247, 247, 247);
    width: 92px;
    height: 36px;
    align-content: center;
}

.cart-content__text-btn {
    box-sizing: border-box;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background: rgb(32, 32, 39);
    width: 247px;
    height: 66px;
    color: white;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    margin-left: 48px;
    margin-right: 48px;
}

.cart-content__text-btn:hover {
    background: white;
    color: rgb(32, 32, 39);
}

.cart-content__text-num {
    color: rgb(32, 32, 39);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    padding-left: 48px;
    padding-right: 130px;
    font-family: Montserrat;
}

.cart-content__text-num--big {
    padding-right: 48px;
}

.cart-content__text-name {
    color: rgb(32, 32, 39);
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    padding-left: 48px;
    padding-right: 48px;
    font-family: Montserrat;
    padding-top: 48px;
}

.cart-content {
    display: flex;
    flex-direction: row;
    background-color: white;
    box-sizing: border-box;
    justify-content: space-between;
    border-radius: 30px;
}

.cart-content__text {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.footer {
    background-color: rgb(189, 237, 53);
    padding-top: 60px;
    padding-bottom: 61px;
    text-align: center;
    transition: background-color 1s ease;
}

.footer__p {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    font-family: Montserrat;
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .center {
        padding-left: calc(50% - 450px);
        padding-right: calc(50% - 450px);
    }

    .game {
        display: flex;
        flex-wrap: wrap;
    }
    
    .cart-content__img {
        width: 450px;
    }

    .cart-content__text {
        width: 450px;
        gap: 25px;
    }

    .cart-content__text-name {
        padding-top: 15px;
        font-size: 42px;
    }

    .cart-content__text-num {
        padding-right: 50px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .center {
        padding-left: calc(50% - 376px);
        padding-right: calc(50% - 376px);
    }

    .top {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .game {
        display: flex;
        flex-wrap: wrap;
    }

    .game-mini__img {
        width: 343px;
    }

    .game-mini__name1 {
        display: none;
    }

    .game-mini__namebr {
        display: inline;
        color: rgb(32, 32, 39);
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 36px;
        padding-top: 16px;
        font-family: Montserrat;
    }

    .cart-content {
        gap: 10px;
        width: 700px;
    }

    .cart-content__text-name1 {
        display: none;
    }

    .cart-content__text-namebr {
        color: rgb(32, 32, 39);
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        padding-left: 15px;
        padding-right: 20px;
        font-family: Montserrat;
        padding-top: 15px;
    }

    .cart-content__img {
        width: 350px;
    }

    .cart-content__text {
        width: 350px;
        gap: 15px;
    }

    .cart-content__text-name {
        padding-top: 15px;
        font-size: 38px;
        font-weight: 700;
        line-height: 44px;
        padding-left: 15px;
        padding-right: 20px;
    }

    .cart-content__text-num {
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        padding-left: 15px;
        padding-right: 20px;
    }

    .cart-content__text-btn {
        width: 285px;
        height: 55px;
        font-size: 18px;
        font-weight: 600;
        margin-left: 15px;
        margin-right: 20px;
        margin-bottom: 26px;
    }

    .top-cart {
        font-family: Montserrat;
        font-size: 42px;
        font-weight: 700;
        line-height: 49px;
    }
}

@media (min-width: 425px) and (max-width: 767px) {
    .center {
        padding-left: calc(50% - 200px);
        padding-right: calc(50% - 200px);
    }

    .header {
        padding-top: 164px;
        padding-bottom: 165px;
    }

    .header-btn {
        text-decoration: none;
    }

    .header__h1 {
        font-family: Montserrat;
        font-size: 40px;
        font-weight: 700;
        line-height: 49px;
        text-align: center;
    }

    .header__p {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
    }

    .header__btn {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 600;
        align-items: center;
        width: 285px;
        height: 55px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 36px;
    }

    .top {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .top-cart {
        font-family: Montserrat;
        font-size: 40px;
        font-weight: 700;
        line-height: 49px;
        padding-top: 0px;
        padding-bottom: 48px;
    }
    
    .game {
        display: flex;
        flex-wrap: wrap;
    }

    .cart-content__img {
        width: 343px;
    }

    .cart-content__text {
        width: 350px;
        gap: 16px;
    }

    .cart-content__text-name {
        padding-top: 15px;
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        padding-left: 29px;
        padding-right: 29px;
    }

    .cart-content__text-num {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        padding-left: 29px;
        padding-right: 29px;
    }

    .cart-content__text-btn {
        width: 285px;
        height: 55px;
        font-size: 16px;
        font-weight: 600;
        margin-left: 29px;
        margin-right: 29px;
        margin-bottom: 26px;
    }

    .cart-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 343px;
        padding-bottom: 16px;
    }

    .header {
        background-image: url(img/Vector.svg), url(img/Starmob2.svg), url(img/Starmob3.svg), url(img/Starmob4.svg), url(img/Starmob5.svg);
        background-position: 489px -103px, 37px 97px, 91px 64px, 400px 580px, 370px 557px;
        background-repeat: no-repeat;
    }

    .footer__p {
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
    }

    .footer {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .cart .cart-content:nth-of-type(2n+1) {
        flex-direction: column-reverse;
    }
}

@media (min-width: 320px) and (max-width: 424px) {
    .center {
        padding-left: calc(50% - 150px);
        padding-right: calc(50% - 150px);
    }

    .header-btn {
        text-decoration: none;
    }

    .header {
        background-image: url(img/Vector.svg), url(img/Starmob2.svg), url(img/Starmob3.svg), url(img/Starmob4.svg), url(img/Starmob5.svg);
        background-position: 489px -103px, 37px 97px, 91px 64px, 303px 580px, 272px 557px;
        background-repeat: no-repeat;
    }

    .header {
        padding-top: 164px;
        padding-bottom: 165px;
    }

    .header__h1 {
        font-family: Montserrat;
        font-size: 40px;
        font-weight: 700;
        line-height: 49px;
        text-align: center;
    }

    .header__p {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
    }

    .header__btn {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 600;
        align-items: center;
        width: 255px;
        height: 55px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
        margin-top: 36px;
    }

    .top {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .top-cart {
        font-family: Montserrat;
        font-size: 40px;
        font-weight: 700;
        line-height: 49px;
        padding-top: 0px;
        padding-bottom: 48px;
    }

    .cart-content {
        width: 300px;
    }

    .cart-content__text-name {
        padding-top: 0px;
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        padding-left: 29px;
    }

    .cart-content__text {
        padding-top: 0px;
        gap: 16px;
    }

    .cart-content__img {
        width: 300px;
    }

    .cart-content__text-num {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        padding-left: 29px;
        padding-right: 29px;
    }

    .cart-content__text-btn {
        width: 255px;
        height: 55px;
        font-size: 16px;
        font-weight: 600;
        margin-left: 29px;
        margin-right: 29px;
    }

    .cart-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 300px;
        padding-bottom: 16px;
    }

    .header {
        background-image: url(img/Vector.svg), url(img/Starmob2.svg), url(img/Starmob3.svg), url(img/Starmob4.svg), url(img/Starmob5.svg);
        background-position: 300px -103px, 15px 97px, 22px 64px, 287px 580px, 257px 557px;
        background-repeat: no-repeat;
    }


    .cart .cart-content:nth-of-type(2n+1) {
        flex-direction: column-reverse;
    }

    .top__h1 {
        display: none;
    }

    .top__p {
        display: none;
    }

    .game {
        display: none;
    }
}