* {
    margin: 0;
    padding: 0;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    background: rgb(225, 255, 143);
    background-image: url(img/Group-1.svg), url(img/Star-2.svg), url(img/Star-3.svg), url(img/Star-4.svg), url(img/Star-5.svg);
    background-position: 854px -333px, 63px 94px, 156px 69px, 1013px 568px, 948px 538px;
    background-repeat: no-repeat;
    padding-top: 196px;
    padding-bottom: 246px;
}

.header__h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    margin-bottom: 24px;
    font-family: Montserrat;
}

.header__p {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    font-family: Montserrat;
}

.header__btn {
    box-sizing: border-box;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background: rgb(32, 32, 39);
    width: 247px;
    height: 66px;
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin-top: 48px;
}

.header__btn:hover {
    background: white;
    color: black;
}

.top {
    background-color: rgb(32, 32, 39);
    padding-top: 94px;
    padding-bottom: 144px;
    background-image: url(img/Star-1.svg), url(img/Star-11.svg), url(img/Star-12.svg), url(img/Star-7.svg), url(img/Star-6.svg), url(img/Star-8.svg), url(img/Star-10.svg);
    background-position: 1054px 77px, 58px 810px, 75px 862px, 1300px 1613px, 1370px 1646px, 1370px 4886px, 1300px 4936px;
    background-repeat: no-repeat;
}

.cart__content {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    box-sizing: border-box;
}

.cart {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.top__h1 {
    color: white;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    padding-bottom: 24px;
    font-family: Montserrat;
}

.top__p {
    color: white;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    font-family: Montserrat;
}

.top-cart {
    color: white;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    padding-bottom: 24px;
    font-family: Montserrat;
    padding-bottom: 72px;
    padding-top: 46px;
}

.game {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-top: 72px;
    margin-bottom: 50px;
}

.game-mini {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 30px;
    transition: transform 1s;
}

.game-mini:hover {
    transform: scale(1.1);
}

.game-mini__img {
    width: 378px;
}

.game-mini__name {
    color: rgb(32, 32, 39);
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 36px;
    padding-top: 16px;
    font-family: Montserrat;
}

.game-mini__num {
    color: rgb(32, 32, 39);
    font-size: 16px;
    font-weight: 500;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 32px;
    padding-left: 16px;
    font-family: Montserrat;
    border-radius: 52.58px;
    background: rgb(247, 247, 247);
    width: 92px;
    height: 36px;
    align-content: center;
}

.cart-content__text-btn {
    box-sizing: border-box;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background: rgb(32, 32, 39);
    width: 247px;
    height: 66px;
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin-left: 48px;
    margin-right: 48px;
}

.cart-content__text-btn:hover {
    background: white;
    color: rgb(32, 32, 39);
}

.cart-content__text-num {
    color: rgb(32, 32, 39);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    padding-left: 48px;
    padding-right: 130px;
    font-family: Montserrat;
}

.cart-content__text-num--big {
    padding-right: 48px;
}

.cart-content__text-name {
    color: rgb(32, 32, 39);
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    padding-left: 48px;
    padding-right: 48px;
    font-family: Montserrat;
    padding-top: 48px;
}

.cart-content {
    display: flex;
    flex-direction: row;
    background-color: white;
    box-sizing: border-box;
    justify-content: space-between;
    border-radius: 30px;
}

.cart-content__text {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.footer {
    background-color: rgb(189, 237, 53);
    padding-top: 60px;
    padding-bottom: 61px;
    text-align: center;
}

.footer__p {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    font-family: Montserrat;
}